# Metabolites mapper reduction

In [2]:
import pandas as pd

df = pd.read_csv("/Users/anabarbosa/Downloads/chem_xref.tsv", sep="\t", skiprows=351)

In [3]:
df

,#source,ID,description
0,BIOMASS,BIOMASS,BIOMASS
1,mnx:BIOMASS,BIOMASS,BIOMASS
2,seed.compound:cpd11416,BIOMASS,Biomass
3,seedM:M_cpd11416,BIOMASS,secondary/obsolete/fantasy identifier
4,seedM:cpd11416,BIOMASS,Biomass
...,...,...,...
2514075,sabiork.compound:40,WATER,H2O||Water
2514076,sabiorkM:40,WATER,H2O||Water
2514077,seed.compound:cpd00001,WATER,H2O||H20||H3O+||HO-||Hydroxide ion||OH||OH-||W...
2514078,seedM:M_cpd00001,WATER,secondary/obsolete/fantasy identifier
2514079,seedM:cpd00001,WATER,H2O||H20||H3O+||HO-||Hydroxide ion||OH||OH-||W...

In [4]:
df = df.drop(["description"], axis=1)

In [5]:
df['#source'].unique()

array(['BIOMASS', 'mnx:BIOMASS', 'seed.compound:cpd11416', ...,
       'seed.compound:cpd00001', 'seedM:M_cpd00001', 'seedM:cpd00001'],
      dtype=object)

In [6]:
bigg_compounds = df[df['#source'].str.count('bigg\.metabolite\:.*')>0]

In [7]:
bigg_compounds

                             #source         ID
10               bigg.metabolite:oh1     MNXM02
41                 bigg.metabolite:h      MNXM1
116             bigg.metabolite:nadh     MNXM10
149             bigg.metabolite:grdp    MNXM100
12226    bigg.metabolite:mercplaccys  MNXM10053
...                              ...        ...
2486800        bigg.metabolite:34hpl    MNXM988
2490935     bigg.metabolite:3htmelys    MNXM990
2495513       bigg.metabolite:4mptnl    MNXM992
2498062      bigg.metabolite:35cdamp   MNXM9931
2514003          bigg.metabolite:h2o      WATER

[9087 rows x 2 columns]

In [8]:
kegg_compounds = df[df['#source'].str.count('kegg\.compound\:.*')>0]

In [9]:
kegg_compounds

                      #source         ID
21       kegg.compound:C01328     MNXM02
53       kegg.compound:C00080      MNXM1
128      kegg.compound:C00004     MNXM10
166      kegg.compound:C00341    MNXM100
1548     kegg.compound:C16496  MNXM10006
...                       ...        ...
2510753  kegg.compound:C06057   MNXM9986
2510998  kegg.compound:C05145   MNXM9987
2511478  kegg.compound:C16720   MNXM9989
2511706  kegg.compound:C16266   MNXM9990
2514033  kegg.compound:C00001      WATER

[18811 rows x 2 columns]

In [10]:
seed_compounds = df[df['#source'].str.count('seed\.compound\:.*')>0]

In [11]:
seed_compounds

                        #source         ID
2        seed.compound:cpd11416    BIOMASS
27       seed.compound:cpd15275     MNXM02
111      seed.compound:cpd00067      MNXM1
143      seed.compound:cpd00004     MNXM10
179      seed.compound:cpd00283    MNXM100
...                         ...        ...
2512865  seed.compound:cpd22761   MNXM9995
2513290  seed.compound:cpd28907  MNXM99969
2513767  seed.compound:cpd25878   MNXM9999
2513818  seed.compound:cpd33563  MNXM99992
2514077  seed.compound:cpd00001      WATER

[33995 rows x 2 columns]

In [12]:
metacyc_compounds = df[df['#source'].str.count('metacyc\.compound\:.*')>0]

In [13]:
metacyc_compounds

                             #source         ID
24               metacyc.compound:OH     MNXM02
33          metacyc.compound:OXONIUM     MNXM03
56           metacyc.compound:PROTON      MNXM1
131            metacyc.compound:NADH     MNXM10
171      metacyc.compound:GERANYL-PP    MNXM100
...                              ...        ...
2512636   metacyc.compound:CPD-11220   MNXM9994
2512863   metacyc.compound:CPD-10654   MNXM9995
2513765    metacyc.compound:CPD-9861   MNXM9999
2513816   metacyc.compound:CPD-17804  MNXM99992
2514048       metacyc.compound:WATER      WATER

[24162 rows x 2 columns]

In [14]:
all_dbs_compounds = bigg_compounds.append(kegg_compounds).append(seed_compounds).append(metacyc_compounds)

In [15]:
all_dbs_compounds

                             #source         ID
10               bigg.metabolite:oh1     MNXM02
41                 bigg.metabolite:h      MNXM1
116             bigg.metabolite:nadh     MNXM10
149             bigg.metabolite:grdp    MNXM100
12226    bigg.metabolite:mercplaccys  MNXM10053
...                              ...        ...
2512636   metacyc.compound:CPD-11220   MNXM9994
2512863   metacyc.compound:CPD-10654   MNXM9995
2513765    metacyc.compound:CPD-9861   MNXM9999
2513816   metacyc.compound:CPD-17804  MNXM99992
2514048       metacyc.compound:WATER      WATER

[86055 rows x 2 columns]

In [33]:
all_dbs_compounds.to_csv("chem_xrefs_reduced.csv",index=False)

# Reactions mapper reduction

In [17]:
import pandas as pd

df = pd.read_csv("/Users/anabarbosa/Downloads/reac_xref.tsv", sep="\t", skiprows=351)

In [18]:
df

,#source,ID,description
0,EMPTY,EMPTY,Empty equation
1,bigg.reaction:CRBNTD,EMPTY,H2CO3 dissociation||1 biggM:h2co3@biggC:x = 1 ...
2,bigg.reaction:DNADRAIN,EMPTY,Dna sink transport reaction|| =
3,bigg.reaction:H2CO3D2,EMPTY,Carboxylic acid dissociation||1 biggM:h2co3@bi...
4,bigg.reaction:H2CO3D2m,EMPTY,"Carboxylic acid dissociation, mitochondrial||1..."
...,...,...,...
384797,biggR:R_GALNACT3g,MNXR99998,secondary/obsolete/fantasy identifier
384798,bigg.reaction:GALNACT4g,MNXR99999,Uridine diphosphoacetylgalactosamine-chondroit...
384799,bigg.reaction:R_GALNACT4g,MNXR99999,secondary/obsolete/fantasy identifier
384800,biggR:GALNACT4g,MNXR99999,Uridine diphosphoacetylgalactosamine-chondroit...
384801,biggR:R_GALNACT4g,MNXR99999,secondary/obsolete/fantasy identifier

In [19]:
df = df.drop(["description"], axis=1)

In [20]:
df['#source'].unique()

array(['EMPTY', 'bigg.reaction:CRBNTD', 'bigg.reaction:DNADRAIN', ...,
       'bigg.reaction:R_GALNACT4g', 'biggR:GALNACT4g',
       'biggR:R_GALNACT4g'], dtype=object)

In [ ]:
df["ID"]="EMPTY"

In [21]:
bigg_reactions = df[df['#source'].str.count('bigg\.reaction\:.*')>0]

In [22]:
bigg_reactions

                          #source         ID
1            bigg.reaction:CRBNTD      EMPTY
2          bigg.reaction:DNADRAIN      EMPTY
3           bigg.reaction:H2CO3D2      EMPTY
4          bigg.reaction:H2CO3D2m      EMPTY
5          bigg.reaction:HMR_5409      EMPTY
...                           ...        ...
384791  bigg.reaction:R_GALNACT2g  MNXR99997
384794    bigg.reaction:GALNACT3g  MNXR99998
384795  bigg.reaction:R_GALNACT3g  MNXR99998
384798    bigg.reaction:GALNACT4g  MNXR99999
384799  bigg.reaction:R_GALNACT4g  MNXR99999

[56342 rows x 2 columns]

In [23]:
kegg_reactions = df[df['#source'].str.count('kegg\.reaction\:.*')>0]

In [24]:
kegg_reactions

                     #source          ID
316     kegg.reaction:R00253  MNXR100024
378     kegg.reaction:R00256  MNXR100030
540     kegg.reaction:R01333  MNXR100060
598     kegg.reaction:R03824  MNXR100063
644     kegg.reaction:R01698  MNXR100066
...                      ...         ...
384276  kegg.reaction:R00846   MNXR99890
384298  kegg.reaction:R00841   MNXR99894
384334  kegg.reaction:R03313   MNXR99896
384384  kegg.reaction:R03550   MNXR99920
384530  kegg.reaction:R03033   MNXR99957

[11333 rows x 2 columns]

In [25]:
seed_reactions = df[df['#source'].str.count('seed\.reaction\:.*')>0]

In [26]:
seed_reactions

                       #source         ID
90      seed.reaction:rxn22163      EMPTY
91      seed.reaction:rxn34297      EMPTY
92      seed.reaction:rxn40958      EMPTY
93      seed.reaction:rxn41299      EMPTY
94      seed.reaction:rxn42499      EMPTY
...                        ...        ...
384518  seed.reaction:rxn38742  MNXR99953
384544  seed.reaction:rxn02173  MNXR99957
384560  seed.reaction:rxn08576  MNXR99958
384570  seed.reaction:rxn08577  MNXR99959
384580  seed.reaction:rxn08579  MNXR99961

[43843 rows x 2 columns]

In [27]:
metacyc_reactions = df[df['#source'].str.count('metacyc\.reaction\:.*')>0]

In [28]:
metacyc_reactions

                                                  #source         ID
33                             metacyc.reaction:RXN-11811      EMPTY
34                             metacyc.reaction:RXN-12947      EMPTY
35                             metacyc.reaction:RXN-12948      EMPTY
36                             metacyc.reaction:RXN-12950      EMPTY
37                             metacyc.reaction:RXN-13070      EMPTY
...                                                   ...        ...
384278  metacyc.reaction:GLYCEROL-3-PHOSPHATE-OXIDASE-RXN  MNXR99890
384300                         metacyc.reaction:RXN-14965  MNXR99894
384336            metacyc.reaction:GLUTSEMIALDEHYDROG-RXN  MNXR99896
384532              metacyc.reaction:GALACTONDEHYDRAT-RXN  MNXR99957
384550                    metacyc.reaction:TRANS-RXN0-227  MNXR99958

[18570 rows x 2 columns]

In [29]:
all_dbs_reactions = bigg_reactions.append(kegg_reactions).append(seed_reactions).append(metacyc_reactions)

In [30]:
all_dbs_reactions

                                                  #source         ID
1                                    bigg.reaction:CRBNTD      EMPTY
2                                  bigg.reaction:DNADRAIN      EMPTY
3                                   bigg.reaction:H2CO3D2      EMPTY
4                                  bigg.reaction:H2CO3D2m      EMPTY
5                                  bigg.reaction:HMR_5409      EMPTY
...                                                   ...        ...
384278  metacyc.reaction:GLYCEROL-3-PHOSPHATE-OXIDASE-RXN  MNXR99890
384300                         metacyc.reaction:RXN-14965  MNXR99894
384336            metacyc.reaction:GLUTSEMIALDEHYDROG-RXN  MNXR99896
384532              metacyc.reaction:GALACTONDEHYDRAT-RXN  MNXR99957
384550                    metacyc.reaction:TRANS-RXN0-227  MNXR99958

[130088 rows x 2 columns]

In [34]:
all_dbs_reactions.to_csv("reac_xrefs_reduced.csv",index=False)