# Metabolites mapper reduction

In [36]:
import pandas as pd

df_compounds = pd.read_csv("/Users/anabarbosa/Downloads/chem_xref.tsv", sep="\t", skiprows=351)

In [37]:
df_compounds

,#source,ID,description
0,BIOMASS,BIOMASS,BIOMASS
1,mnx:BIOMASS,BIOMASS,BIOMASS
2,seed.compound:cpd11416,BIOMASS,Biomass
3,seedM:M_cpd11416,BIOMASS,secondary/obsolete/fantasy identifier
4,seedM:cpd11416,BIOMASS,Biomass
...,...,...,...
2514075,sabiork.compound:40,WATER,H2O||Water
2514076,sabiorkM:40,WATER,H2O||Water
2514077,seed.compound:cpd00001,WATER,H2O||H20||H3O+||HO-||Hydroxide ion||OH||OH-||W...
2514078,seedM:M_cpd00001,WATER,secondary/obsolete/fantasy identifier
2514079,seedM:cpd00001,WATER,H2O||H20||H3O+||HO-||Hydroxide ion||OH||OH-||W...

In [38]:
df_compounds = df_compounds.drop(["description"], axis=1)
df_compounds = df_compounds[df_compounds.ID != "EMPTY"]

In [39]:
df_compounds['#source'].unique()

array(['BIOMASS', 'mnx:BIOMASS', 'seed.compound:cpd11416', ...,
       'seed.compound:cpd00001', 'seedM:M_cpd00001', 'seedM:cpd00001'],
      dtype=object)

In [40]:
bigg_compounds = df_compounds[df_compounds['#source'].str.count('bigg\.metabolite\:.*')>0]

In [41]:
bigg_compounds

                             #source         ID
10               bigg.metabolite:oh1     MNXM02
41                 bigg.metabolite:h      MNXM1
116             bigg.metabolite:nadh     MNXM10
149             bigg.metabolite:grdp    MNXM100
12226    bigg.metabolite:mercplaccys  MNXM10053
...                              ...        ...
2486800        bigg.metabolite:34hpl    MNXM988
2490935     bigg.metabolite:3htmelys    MNXM990
2495513       bigg.metabolite:4mptnl    MNXM992
2498062      bigg.metabolite:35cdamp   MNXM9931
2514003          bigg.metabolite:h2o      WATER

[9087 rows x 2 columns]

In [42]:
kegg_compounds = df_compounds[df_compounds['#source'].str.count('kegg\.compound\:.*')>0]

In [43]:
kegg_compounds

                      #source         ID
21       kegg.compound:C01328     MNXM02
53       kegg.compound:C00080      MNXM1
128      kegg.compound:C00004     MNXM10
166      kegg.compound:C00341    MNXM100
1548     kegg.compound:C16496  MNXM10006
...                       ...        ...
2510753  kegg.compound:C06057   MNXM9986
2510998  kegg.compound:C05145   MNXM9987
2511478  kegg.compound:C16720   MNXM9989
2511706  kegg.compound:C16266   MNXM9990
2514033  kegg.compound:C00001      WATER

[18811 rows x 2 columns]

In [44]:
seed_compounds = df_compounds[df_compounds['#source'].str.count('seed\.compound\:.*')>0]

In [45]:
seed_compounds

                        #source         ID
2        seed.compound:cpd11416    BIOMASS
27       seed.compound:cpd15275     MNXM02
111      seed.compound:cpd00067      MNXM1
143      seed.compound:cpd00004     MNXM10
179      seed.compound:cpd00283    MNXM100
...                         ...        ...
2512865  seed.compound:cpd22761   MNXM9995
2513290  seed.compound:cpd28907  MNXM99969
2513767  seed.compound:cpd25878   MNXM9999
2513818  seed.compound:cpd33563  MNXM99992
2514077  seed.compound:cpd00001      WATER

[33995 rows x 2 columns]

In [46]:
metacyc_compounds = df_compounds[df_compounds['#source'].str.count('metacyc\.compound\:.*')>0]

In [47]:
metacyc_compounds

                             #source         ID
24               metacyc.compound:OH     MNXM02
33          metacyc.compound:OXONIUM     MNXM03
56           metacyc.compound:PROTON      MNXM1
131            metacyc.compound:NADH     MNXM10
171      metacyc.compound:GERANYL-PP    MNXM100
...                              ...        ...
2512636   metacyc.compound:CPD-11220   MNXM9994
2512863   metacyc.compound:CPD-10654   MNXM9995
2513765    metacyc.compound:CPD-9861   MNXM9999
2513816   metacyc.compound:CPD-17804  MNXM99992
2514048       metacyc.compound:WATER      WATER

[24162 rows x 2 columns]

In [48]:
all_dbs_compounds = bigg_compounds.append(kegg_compounds).append(seed_compounds).append(metacyc_compounds)

In [49]:
all_dbs_compounds

                             #source         ID
10               bigg.metabolite:oh1     MNXM02
41                 bigg.metabolite:h      MNXM1
116             bigg.metabolite:nadh     MNXM10
149             bigg.metabolite:grdp    MNXM100
12226    bigg.metabolite:mercplaccys  MNXM10053
...                              ...        ...
2512636   metacyc.compound:CPD-11220   MNXM9994
2512863   metacyc.compound:CPD-10654   MNXM9995
2513765    metacyc.compound:CPD-9861   MNXM9999
2513816   metacyc.compound:CPD-17804  MNXM99992
2514048       metacyc.compound:WATER      WATER

[86055 rows x 2 columns]

In [50]:
all_dbs_compounds.to_csv("chem_xrefs_reduced.csv",index=False)

# Reactions mapper reduction

In [51]:
import pandas as pd

df_reactions = pd.read_csv("/Users/anabarbosa/Downloads/reac_xref.tsv", sep="\t", skiprows=351)

In [52]:
df_reactions

,#source,ID,description
0,EMPTY,EMPTY,Empty equation
1,bigg.reaction:CRBNTD,EMPTY,H2CO3 dissociation||1 biggM:h2co3@biggC:x = 1 ...
2,bigg.reaction:DNADRAIN,EMPTY,Dna sink transport reaction|| =
3,bigg.reaction:H2CO3D2,EMPTY,Carboxylic acid dissociation||1 biggM:h2co3@bi...
4,bigg.reaction:H2CO3D2m,EMPTY,"Carboxylic acid dissociation, mitochondrial||1..."
...,...,...,...
384797,biggR:R_GALNACT3g,MNXR99998,secondary/obsolete/fantasy identifier
384798,bigg.reaction:GALNACT4g,MNXR99999,Uridine diphosphoacetylgalactosamine-chondroit...
384799,bigg.reaction:R_GALNACT4g,MNXR99999,secondary/obsolete/fantasy identifier
384800,biggR:GALNACT4g,MNXR99999,Uridine diphosphoacetylgalactosamine-chondroit...
384801,biggR:R_GALNACT4g,MNXR99999,secondary/obsolete/fantasy identifier

In [53]:
df_reactions = df_reactions.drop(["description"], axis=1)
df_reactions = df_reactions[df_reactions.ID != "EMPTY"]

In [54]:
df_reactions['#source'].unique()

array(['MNXR01', 'mnx:MNXR01', 'MNXR02', ..., 'bigg.reaction:R_GALNACT4g',
       'biggR:GALNACT4g', 'biggR:R_GALNACT4g'], dtype=object)

In [55]:
bigg_reactions = df_reactions[df_reactions['#source'].str.count('bigg\.reaction\:.*')>0]

In [56]:
bigg_reactions

                          #source         ID
107          bigg.reaction:EX_h_e     MNXR02
108        bigg.reaction:R_EX_h_e     MNXR02
113        bigg.reaction:HMR_1095     MNXR03
114              bigg.reaction:Ht     MNXR03
115            bigg.reaction:Htcx     MNXR03
...                           ...        ...
384791  bigg.reaction:R_GALNACT2g  MNXR99997
384794    bigg.reaction:GALNACT3g  MNXR99998
384795  bigg.reaction:R_GALNACT3g  MNXR99998
384798    bigg.reaction:GALNACT4g  MNXR99999
384799  bigg.reaction:R_GALNACT4g  MNXR99999

[56326 rows x 2 columns]

In [57]:
kegg_reactions = df_reactions[df_reactions['#source'].str.count('kegg\.reaction\:.*')>0]

In [58]:
kegg_reactions

                     #source          ID
316     kegg.reaction:R00253  MNXR100024
378     kegg.reaction:R00256  MNXR100030
540     kegg.reaction:R01333  MNXR100060
598     kegg.reaction:R03824  MNXR100063
644     kegg.reaction:R01698  MNXR100066
...                      ...         ...
384276  kegg.reaction:R00846   MNXR99890
384298  kegg.reaction:R00841   MNXR99894
384334  kegg.reaction:R03313   MNXR99896
384384  kegg.reaction:R03550   MNXR99920
384530  kegg.reaction:R03033   MNXR99957

[11333 rows x 2 columns]

In [59]:
seed_reactions = df_reactions[df_reactions['#source'].str.count('seed\.reaction\:.*')>0]

In [60]:
seed_reactions

                       #source         ID
190     seed.reaction:rxn08730     MNXR03
191     seed.reaction:rxn11009     MNXR03
192     seed.reaction:rxn13646     MNXR03
193     seed.reaction:rxn22797     MNXR03
194     seed.reaction:rxn26298     MNXR03
...                        ...        ...
384518  seed.reaction:rxn38742  MNXR99953
384544  seed.reaction:rxn02173  MNXR99957
384560  seed.reaction:rxn08576  MNXR99958
384570  seed.reaction:rxn08577  MNXR99959
384580  seed.reaction:rxn08579  MNXR99961

[43836 rows x 2 columns]

In [61]:
metacyc_reactions = df_reactions[df_reactions['#source'].str.count('metacyc\.reaction\:.*')>0]

In [62]:
metacyc_reactions

                                                  #source          ID
173                            metacyc.reaction:RXN-13519      MNXR03
174                        metacyc.reaction:TRANS-RXN-218      MNXR03
175                        metacyc.reaction:TRANS-RXN-395      MNXR03
318                     metacyc.reaction:GLUTAMINESYN-RXN  MNXR100024
380                         metacyc.reaction:GLUTAMIN-RXN  MNXR100030
...                                                   ...         ...
384278  metacyc.reaction:GLYCEROL-3-PHOSPHATE-OXIDASE-RXN   MNXR99890
384300                         metacyc.reaction:RXN-14965   MNXR99894
384336            metacyc.reaction:GLUTSEMIALDEHYDROG-RXN   MNXR99896
384532              metacyc.reaction:GALACTONDEHYDRAT-RXN   MNXR99957
384550                    metacyc.reaction:TRANS-RXN0-227   MNXR99958

[18546 rows x 2 columns]

In [63]:
all_dbs_reactions = bigg_reactions.append(kegg_reactions).append(seed_reactions).append(metacyc_reactions)

In [64]:
all_dbs_reactions

                                                  #source         ID
107                                  bigg.reaction:EX_h_e     MNXR02
108                                bigg.reaction:R_EX_h_e     MNXR02
113                                bigg.reaction:HMR_1095     MNXR03
114                                      bigg.reaction:Ht     MNXR03
115                                    bigg.reaction:Htcx     MNXR03
...                                                   ...        ...
384278  metacyc.reaction:GLYCEROL-3-PHOSPHATE-OXIDASE-RXN  MNXR99890
384300                         metacyc.reaction:RXN-14965  MNXR99894
384336            metacyc.reaction:GLUTSEMIALDEHYDROG-RXN  MNXR99896
384532              metacyc.reaction:GALACTONDEHYDRAT-RXN  MNXR99957
384550                    metacyc.reaction:TRANS-RXN0-227  MNXR99958

[130041 rows x 2 columns]

In [65]:
all_dbs_reactions.to_csv("reac_xrefs_reduced.csv",index=False)

# Reactions mapper reduction From ModelSEED Aliases List

In [66]:
import pandas as pd

df_seed_reactions_aliases = pd.read_csv("/Users/anabarbosa/Downloads/Unique_ModelSEED_Reaction_Aliases.txt", sep="\t")

In [67]:
df_seed_reactions_aliases

       ModelSEED ID            External ID             Source
0          rxn00001             R_R00004_c            AlgaGEM
1          rxn00001  INORGPYROPHOSPHAT-RXN             AraCyc
2          rxn00001             R_R00004_c             AraGEM
3          rxn00001                   IPP1               BiGG
4          rxn00001                    PPA               BiGG
...             ...                    ...                ...
267225     rxn48573             MNXR109727  metanetx.reaction
267226     rxn48573                  24421               rhea
267227     rxn48573                  24423               rhea
267228     rxn48574                 R03874               KEGG
267229     rxn48575              RXN1G-874            MetaCyc

[267230 rows x 3 columns]

In [68]:
bigg_seed_reactions_aliases = df_seed_reactions_aliases[df_seed_reactions_aliases['Source'].str.count('BiGG')>0]

In [69]:
bigg_seed_reactions_aliases

       ModelSEED ID External ID Source
3          rxn00001        IPP1   BiGG
4          rxn00001         PPA   BiGG
5          rxn00001       PPA_1   BiGG
6          rxn00001        PPAm   BiGG
59         rxn00002      ALPHNH   BiGG
...             ...         ...    ...
250059     rxn40273      AMALT2   BiGG
250060     rxn40273      AMALT3   BiGG
250061     rxn40273       MLTG1   BiGG
250062     rxn40273         MPL   BiGG
267188     rxn48570      NADH2r   BiGG

[14826 rows x 3 columns]

In [70]:
kegg_seed_reactions_aliases = df_seed_reactions_aliases[df_seed_reactions_aliases['Source'].str.count('KEGG')>0]

In [71]:
kegg_seed_reactions_aliases

       ModelSEED ID External ID Source
15         rxn00001      R00004   KEGG
64         rxn00002      R00005   KEGG
78         rxn00003      R00006   KEGG
94         rxn00004      R00008   KEGG
109        rxn00006      R00009   KEGG
...             ...         ...    ...
267184     rxn48569      R02161   KEGG
267191     rxn48570      R02163   KEGG
267201     rxn48571      R02164   KEGG
267217     rxn48573      R05635   KEGG
267228     rxn48574      R03874   KEGG

[14578 rows x 3 columns]

In [72]:
metacyc_seed_reactions_aliases = df_seed_reactions_aliases[df_seed_reactions_aliases['Source'].str.count('MetaCyc')>0]

In [73]:
metacyc_seed_reactions_aliases

       ModelSEED ID                External ID   Source
18         rxn00001      INORGPYROPHOSPHAT-RXN  MetaCyc
65         rxn00002  ALLOPHANATE-HYDROLASE-RXN  MetaCyc
112        rxn00006                  CATAL-RXN  MetaCyc
113        rxn00006                  RXN-12121  MetaCyc
181        rxn00008   MANGANESE-PEROXIDASE-RXN  MetaCyc
...             ...                        ...      ...
267173     rxn48566                  RXN-17840  MetaCyc
267175     rxn48567                  RXN-15970  MetaCyc
267177     rxn48568                   RXN-8351  MetaCyc
267219     rxn48573               3.5.1.88-RXN  MetaCyc
267229     rxn48575                  RXN1G-874  MetaCyc

[31241 rows x 3 columns]

In [74]:
all_dbs_seed_reactions_aliases = bigg_seed_reactions_aliases.append(kegg_seed_reactions_aliases).append(metacyc_seed_reactions_aliases)

In [75]:
all_dbs_seed_reactions_aliases

       ModelSEED ID   External ID   Source
3          rxn00001          IPP1     BiGG
4          rxn00001           PPA     BiGG
5          rxn00001         PPA_1     BiGG
6          rxn00001          PPAm     BiGG
59         rxn00002        ALPHNH     BiGG
...             ...           ...      ...
267173     rxn48566     RXN-17840  MetaCyc
267175     rxn48567     RXN-15970  MetaCyc
267177     rxn48568      RXN-8351  MetaCyc
267219     rxn48573  3.5.1.88-RXN  MetaCyc
267229     rxn48575     RXN1G-874  MetaCyc

[60645 rows x 3 columns]

In [76]:
all_dbs_seed_reactions_aliases.to_csv("reac_xrefs_reduced_from_seed_aliases.csv",index=False)